<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975329443020-ta3t4qmql40de12aga0fomic500m82jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975329443020-ta3t4qmql40de12aga0fomic500m82jr</string>
	<key>API_KEY</key>
	<string>AIzaSyBDqzIu3B-r6vKDgRFo9jf-Qevf5_IW8G4</string>
	<key>GCM_SENDER_ID</key>
	<string>975329443020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FilipA.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-b16c1</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-b16c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975329443020:ios:33d3b3ec0d0c87ff10d669</string>
</dict>
</plist>